.header-container { 
    display: flex; 
    justify-content: center; 
    background-color: navy; 
  } 
  
  .header-text { 
    color: white; 
    text-decoration: underline; 
    font-size: 55px; 
  }  

  .input-field-name-containers { 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 13em;  */
    color: white; 
  } 

  .wrapper-for-name-inputs { 
    display: flex; 
    justify-content: center;
  } 

  .player1-text, .player2-text { 
    font-size: 2rem;
  } 

  #player1-input-field, 
  #player2-input-field { 
    /* width: 18em; */
    height: 2em;  
    font-size: 20px; 
  }
  

  .start-reset-btn-container { 
    display: flex; 
    justify-content: center; 
    gap: 1em; 
  } 

  .start-game-btn, 
  .reset-btn { 
    background-color: purple;
    color: white; 
    height: 3em;
    width: 8em;  
    font-size: 1.5rem;
  } 




  /* .gameboard-container { 
    background-color: pink;
  }  */ 

  .board-container { 
    /* background-color: green; */ 
    /* display: flex; 
    justify-content: center; */
    /* width: 80em; 
    height: 80em */
    display: grid; 
    grid-template-columns: repeat(3, auto);
    width: 300px; 
    /* justify-self: center; */
    margin: 40px auto;
    justify-content: center;
    gap: 4px; 
  }

  .box {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid black; 
    height: 170px; 
    width: 170px;  
  }      
  
  body { 
    background-color: navy;
  } 

  .main-text-output-field { 
    display: flex; 
    justify-content: center; 
    color: white; 
    font-size: 3rem; 
    font-style: italic;
  } 

  /* .x-mark-style { 
   color: yellow;
   height: 10px; 
  }  

  span { 
    height: 10px;
  }
 */
