.header-container { 
    display: flex; 
    justify-content: center; 
    background-color: purple; 
  } 
  
  .header-text { 
    color: white; 
    text-decoration: underline; 
    font-size: 40px; 
  } 